/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #85e997;
    color: #fff;
}

/*login */
/* Fondo de la página de login y registro */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/fondo_login.webp');
    /* Ajusta la ruta de la imagen */
    background-size: cover;
    background-position: center;
}

/* Caja de login y registro centrada con fondo oscuro semi-transparente */
.auth-box {
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo oscuro semi-transparente */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #fff;
    /* Texto en color blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra ligera */
}

/* Estilo de input con fondo blanco */
.auth-box input[type="text"],
.auth-box input[type="email"],
.auth-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    /* Fondo blanco */
    color: #333;
    /* Texto en color oscuro */
}

/* Color del texto de los placeholders */
.auth-box input::placeholder {
    color: #888;
    /* Placeholder en gris */
    opacity: 1;
}

/* Botón principal */
.auth-box button {
    width: 100%;
    padding: 10px;
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.auth-box button:hover {
    background-color: #ff6530;
}

/* General */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 50px;
}

/* Enlaces de navegación */
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
}

.nav-link:hover {
    color: #00bcd4;
}

/* Menú de usuario */
.user-menu {
    position: relative;
    display: inline-block;
}

.user-icon {
    font-size: 35px;
    color: #00bcd4;
    cursor: pointer;
}

.user-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}

.user-menu .dropdown-item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
    border-radius: 4px;
}

.user-menu .dropdown-item:hover {
    background-color: #f0f0f0;
}

.user-menu:hover .dropdown {
    display: block;
}


/* Estilo de los enlaces */
.auth-box a {
    color: #00bcd4;
    text-decoration: none;
}

.auth-box a:hover {
    text-decoration: underline;
}

/* Estilo del contenedor "Recuérdame" */
.remember-me-container {
    text-align: left;
    margin-top: 10px;
    color: #fff;
}

/* Estilo para el enlace de "¿Olvidaste tu contraseña?" */
.forgot-password {
    display: block;
    margin-top: 10px;
    color: #00bcd4;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Estilo para el párrafo de registro */
.register-prompt {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

/* Estilo para el enlace de registro "Regístrate" */
.register-link {
    color: #00bcd4;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

/* Estilo del grupo de inputs y sus iconos */
.input-group {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    /* Borde claro */
}

.input-group .input-group-text {
    padding: 10px;
    background-color: transparent;
    color: #fff;
    /* Ícono en color blanco */
}

.input-group .form-control {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #333;
    /* Texto en color oscuro */
}

/* Estilo del contenedor del checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 15px 0;
}

.checkbox-container label a {
    color: #00bcd4;
    text-decoration: none;
}

.checkbox-container label a:hover {
    text-decoration: underline;
}

/* Botón principal */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    /* Quita el subrayado */
    display: inline-block;
}

.btn:hover {
    background-color: #ff6530;
}

/* Botón secundario para regresar a inicio */
.btn-secondary {
    background-color: #f8f8f8;
    /* Color azul para botón secundario */
    color: #fff;
    /* Texto en blanco */
}

.btn-secondary:hover {
    background-color: #0097a7;
    /* Color más oscuro al pasar el cursor */
    color: #fff;
    /* Asegura que el texto siga siendo blanco en el hover */
}



/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.header-right a {
    text-decoration: none;
}

.logo img {
    height: 70px;
}

.header-right {
    display: flex;
    align-items: center;
}

.register-btn {
    background-color: #ff7f50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    /* Aumenta el espacio entre el botón de registro y el icono de usuario */
}

.user-icon i {
    color: #00bcd4;
    font-size: 35px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
    overflow: hidden;
    background-color: #333;
}


.carousel-images {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen llene el contenedor completamente */
    flex-shrink: 0;
}

.hero {
    position: relative;
    width: 100%;
    height: 750px;
    /* Altura fija del contenedor */
    overflow: hidden;
    background-color: #33333350;
}

/* Capa oscura sobre la imagen */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    /* Capa oscura semi-transparente */
    z-index: 1;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: contained;
}

/* Estilo del contenido en el hero */
.hero-content {
    position: absolute;
    top: 50%;
    /* Ajusta la posición vertical */
    left: 0;
    /* Alinea al borde izquierdo */
    background-color: #0000008e;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    /* Bordes redondeados en el lado derecho y las esquinas inferiores */
    color: #000;
    max-width: 50%;
    /* Ajusta el ancho del contenido */
    box-sizing: border-box;
    padding: 35px;
    z-index: 2;
    /* Asegura que el contenido esté encima de la capa oscura */
}

.hero-content h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

.hero-content p {
    margin: 10px 0;
    line-height: 1.5;
    /* Mejora la legibilidad */
    color: #fff;
}

.cta-button {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

/* Features section */

.features-section {
    position: relative;
    /* Permite la posición relativa para los elementos dentro */
    padding: 60px 20px;
    background-color: #e9e9e9;
    text-align: center;
}


h2 {
    position: relative;
    /* Permite que el título esté por encima de la imagen */
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 1;
    /* Asegura que el título esté encima de la imagen */
}


.titulo-oscuro {
    color: #0a0909;

}

.titulo-oscuro::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 35%;
    height: 100%;
    transform: translateX(-50%);
    background-color: #ff7f50;
    /* Color fosforescente */
    opacity: 0.6;
    /* Le da una opacidad para simular el efecto de resaltado */
    z-index: -1;
    /* Coloca el fondo detrás del texto */
    padding: 0 10px;
    /* Espacio adicional alrededor del texto */
    border-radius: 4px;
    /* Bordes redondeados para un efecto suave */
}

.title-decoration {
    position: absolute;
    /* Posiciona la imagen en relación a .features-section */
    top: 10px;
    /* Ajusta la posición vertical para superponerla al título */
    left: 30%;
    /* Centra horizontalmente la imagen */
    transform: translateX(140%);
    /* Ajuste para centrar la imagen en el contenedor */
    width: 400px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    z-index: 0;
    /* Coloca la imagen detrás del título */
    opacity: 0.8;
    /* Ajusta la opacidad si deseas */
}


.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.feature-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-circle {
    background-color: #00bcd4;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.icon-circle .icon {
    font-size: 2em;
    color: #fff;
}

.feature-card h3 {
    font-size: 1.25em;
    color: #0e0c0c;
    margin-bottom: 10px;
}

.feature-card p {
    color: #0c0c0c;
    margin-bottom: 15px;
    line-height: 1.4;
}

.more-info-btn {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 0;
    /* Elimina cualquier margen izquierdo adicional */
    align-self: flex-end;
    /* Alinea el botón a la izquierda en el contenedor */
}


.more-info-btn:hover {
    background-color: #ff7f50;
}

.feature-card:hover {
    transform: scale(1.05);
    background-color: #b1b1b1;
}


/* Sección principal de características */
.feature-details {
    padding: 0;
    background-color: #a8e3eb;
}

/* Sección individual de cada característica */
.feature-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra el contenido dentro de cada sección */
    gap: 20px;
    padding: 60px 40px;
    /* Espacio interno amplio */
    border-radius: 0;
    margin: 0;
    width: 100%;
}

/* Fondo blanco para secciones pares */
.feature-detail:nth-child(even) {

    background-color: #ffffff;
    color: #000000;
}

/* Fondo oscuro para secciones impares */
.feature-detail:nth-child(odd) {
    background-color: #e6e6e6;
    color: #333;
}

/* Imagen más pequeña y centrada */
.feature-image {
    width: 30%;
    /* Reduce el tamaño de la imagen */
    height: auto;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 4px solid #00BCD4;
    /* Borde azul */
}

/* Contenedor de texto centrado y más compacto */
.feature-text {
    width: 50%;
    /* Ajusta el ancho del texto */
    padding: 10px 20px;
    text-align: left;
    /* Centra el texto */
}

/* Estilo del título */
.feature-detail h3 {
    font-size: 2em;
    color: #ff7f50;
    margin-bottom: 20px;
}

/* Estilo del párrafo */
.feature-detail p {
    font-size: 1.1em;
    line-height: 1.8;
}

/* Invierte el orden para las secciones con la clase 'reverse' */
.feature-detail.reverse {
    flex-direction: row-reverse;
}


.map-section {
    position: relative;
    padding: 60px 20px;
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;
}

.map-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/fondomap.webp');
    /* Ruta de la imagen de fondo */
    background-size: 700px 700px;
    /* Tamaño más pequeño para repetición */
    background-repeat: repeat;
    opacity: 0.4;
    /* Ajusta la transparencia del fondo */
    z-index: 1;
}

.map-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Capa blanca semitransparente */
    z-index: 2;
}

.map-container,
.titulo-oscuro,
.map-section p {
    position: relative;
    z-index: 3;
    /* Asegura que el contenido esté por encima de las capas */
}


.map-section p {
    color: #0a0909;
    /* Párrafo en negro */
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Estilo del contenedor del mapa */
.map-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#map {
    width: 70%;
    height: 600px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.faq-container {
    display: flex;
    width: 100%;
    height: 70vh;

}

.faq-content {
    flex: 1;
    padding: 40px;
    background-color: #333333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.faq-title span {
    color: #00bcd4;
}

.faq-item {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    /* Fondo más oscuro para cada pregunta */
    padding: 15px 20px;
    /* Espacio alrededor del texto */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra para dar efecto de elevación */
    transition: background-color 0.3s ease;
    /* Efecto de transición en el color */
}

.faq-item h3 {
    font-size: 1.2em;
    color: #ff7f50;
    cursor: pointer;
    margin: 0;
}

.faq-item p {
    display: none;
    padding-left: 10px;
    color: #000000;
    margin-top: 10px;
    /* Espacio superior para el texto de la respuesta */
}

/* Para mostrar la respuesta al hacer clic */
.faq-item.active p {
    display: block;
}


.faq-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    /* Color de fondo oscuro */
}

.faq-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Footer*/
.site-footer {
    background-color: #E6E6E6;
    color: #333;
    padding-top: 30px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-about,
.footer-links,
.footer-social,
.footer-account {
    flex: 1;
    margin: 10px;
}

.footer-about h2,
.footer-links h3,
.footer-social h3,
.footer-account h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
    /* Tamaño de letra reducido */
    margin-bottom: 5px;
    display: block;
}

.footer-social .social-icons a {
    color: #333;
    font-size: 1.2em;
    margin-right: 15px;
}

.footer-hours {
    font-size: 0.9em;
    margin-top: 10px;
}


/* Estilo de botones */
.footer-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    /* Tamaño de letra ajustado */
    text-align: center;
}

.footer-button.connect {
    background-color: #ff7f50;
}

.footer-button.register {
    background-color: #00bcd4;
    /* Azul para el botón de registro */
    margin-top: 5px;
}

.footer-button:hover {
    opacity: 0.9;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    /* Distribuye elementos a izquierda y derecha */
    align-items: center;
    padding: 10px 20px;
    font-size: 0.9em;
    background-color: #e6e6e6;
    /* Fondo gris claro */
    border-top: 1px solid #d3d3d3;
}

.footer-bottom-social {
    display: flex;
    gap: 15px;
}

.footer-bottom-social a {
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
}

.footer-bottom p {
    margin: 0;
    color: #333;
    text-align: right;
    /* Alinea el texto de derechos reservados a la derecha */
}



/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .feature-detail {
        flex-direction: column;
        padding: 40px 20px;
    }

    .feature-image,
    .feature-text {
        width: 100%;
        /* Cada elemento ocupa el ancho completo en pantallas pequeñas */
    }

    .features-title {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .faq-container {
        flex-direction: column;
        height: auto;
    }

    .faq-image {
        height: 300px;
        /* Ajusta la altura en pantallas pequeñas */
    }

    .faq-image img {
        width: 100%;
        /* Asegura que la imagen se ajuste a la pantalla en dispositivos pequeños */
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-about,
    .footer-links,
    .footer-social,
    .footer-account {
        margin: 20px 0;
    }

    .footer-social .social-icons {
        justify-content: center;
    }

    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: block;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

}